PyQt5
qtwidgets
random2
requests-html
PyQt5-stubs
SpeechRecognition
pytube
PyDictionary
tk
Pillow
googletrans
pyttsx3
wikipedia
pytesseract
opencv-python
numpy
PyAudio

#download requirements.txt using ''' pip install -r requirements.txt '''

#incase PyAudio error exist
''' 
    1. find the appropriate .whl file from  here "https://www.lfd.uci.edu/~gohlke/pythonlibs/#pyaudio", for example mine is PyAudio‑0.2.11‑cp310‑cp310‑win_amd64.whl, and download it.
    2. go to the folder where it is downloaded for example cd C:\Users\foobar\Downloads
    3. install the .whl file with pip for example in my case:
    4. pip install PyAudio‑0.2.11‑cp310‑cp310‑win_amd64.whl 
    
                                                              '''